table {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    padding: 0px;
    margin: 0px;
}

.square {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    vertical-align: center;
    background-color: white;
}

.piece {
    background-color: red;
}
