table {
    border-collapse: collapse;
}

td {
    padding: 0px;
    margin: 0px;
}

.square {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    vertical-align: center;
    background-color: white;
}

.head {
    background-color: darkgreen;
}

.tail {
    background-color: lightgreen;
}

.apple {
    background-color: red;
}
